/*
  fundo = #EAF3E7
  vermelho = #D2232A
  azul = #25408F
*/

body {
  background-color: #EAF3E7;
}

html, body, main, p, h1{
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
    vertical-align: baseline;
    border: 0;
  }

h1, h2, h3, p, a, ul, li{
  font-family: sans-serif;
}

p {
  font-size: 15px;
  font-weight: 300;
}

ul {
  list-style-type: none;
}


@media only screen and (min-device-width: 1200px){
  p {
    font-size: 16px;
  }
}
